@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF3E7;
    --foreground: #ededed;

  }
} */

:root {
  --background: #ffdab3;
  --background2: #ffe4c4;
  --foreground: #171717;
  --primaryColor: #d35400;
  --secondaryColor: #8e44ad;
  --secondaryColorHover: #732d91;
  --text: #4a2c2a;
  --details: #e74c3c;
  --complentary: #ffffff;
}

body {
  font-family: "Londrina Solid", sans-serif;
  background: var(--background);
  color: var(--foreground);
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el padding predeterminado */
  width: 100%; /* Asegura que el contenedor principal tome el 100% del ancho */
  height: 100%; /* Asegura que el contenedor principal tome el 100% de la altura */
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Londrina Solid", sans-serif;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

nav,
footer {
  background-color: var(--primaryColor);
  overflow-x: hidden;
  width: 100%;
}
footer {
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}
.bleed {
  height: 100vh;
  width: 100%;
  padding: 20px;
}
